<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Todo List</ion-title>
        <ion-icon slot="end" size="large" name="add-circle-outline" routerLink="/todo-add"></ion-icon>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let item of storageService.newData let i = index" (click)="getItem(item, i)">
            <!-- <div></div> -->
            <ion-note slot="end">10/12/1019</ion-note>
            <ion-avatar slot="start">
                <img src="assets/todo-icon.png">
            </ion-avatar>
            <ion-label>
                <h2>{{item.title}}</h2>
                <p>{{ item.description}}...</p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>