<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Todo List</ion-title>
        <ion-icon slot="end" size="large" name="add-circle-outline" routerLink="/todo-add"></ion-icon>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
            <ion-note slot="end">10/12/1019</ion-note>
            <ion-avatar slot="start">
                <img src="assets/todo-icon.png">
            </ion-avatar>
            <ion-label>
                <h2>Finn</h2>
                <h3>I'm a big deal</h3>
                <p>Listen, I've had a pretty messed up day...</p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>