<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Todo Add</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="todo" (ngSubmit)="logForm()" >
        <ion-item>
            <ion-label>
                <ion-input placeholder="Title" formControlName="title"></ion-input>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <ion-textarea rows="6" placeholder="Description" formControlName="description"></ion-textarea >
            </ion-label>
        </ion-item>
        <ion-button type="submit" size="full">Save</ion-button>
    </form>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <!-- <ion-button size="full" todo.ngSubmit.emit()>Save</ion-button> -->
    </ion-toolbar>
</ion-footer>